<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Appointment</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>Doctor Appointment Booking System</h1>
        {% if user.is_authenticated %}
        <p>Hello, {{user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <a href="{% url 'login' %}"></a>
        {% endif %}
        <hr>
        {% block content %} {% endblock %}
        
    </body>
</html>