{% extends 'base.html' %}
{% block content %}
<h2>{% block title %}Your Appointments{% endblock %}</h2>
{% if user.patient %}
<a href="{% url 'book_appointment' %}">Book Appointment</a>
{% endif %}
<ul>
    {% for appt in appointments %}
        {% if user.patient %}
            <li> {{appt.date}}{{appt.time}} with Dr.{{appt.doctor.user.username}} - Status: {{appt.status}} </li>
        {% else %}
            <li> {{appt.date}} {{appt.time}} with patient {{appt.patient.user.username}} - Status: {{appt.status}} </li>
        {% endif %}
    {% empty %}
        <li>No appointments found.</li>
    {% endfor %}
</ul>
{% endblock %}